<!DOCTYPE html>
<html>
<head>
    <title>PubWiSec</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="shell">

    <div class="sidebar">
        <div class="brand">PubWiSec</div>
        <a href="/dashboard">Dashboard</a>
        <a href="/alerts">Alerts</a>
        <a href="/password-history">Password Rotation</a>
    </div>

    <div class="content">
        {% block content %}{% endblock %}
    </div>

</div>

</body>
</html>